*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #BaseContainer{
    
    height: 100vh;
    grid-template-rows: 4fr 4fr 4fr 2fr;

}

#BaseContainer{
    background-color: rgb(82, 76, 76);
    
    
}

.BaseContainer-Child1{
    background-color: goldenrod;
}